*{
    padding: 0;
    margin: 0;
}

/* body{
    background-color:rgb(255, 255, 255);
    width: 100%;
    color: rgb(9, 9, 9);
} */
html{
overflow-x: hidden;
}

.link ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;

}
.login{
    border: 1px solid white;
    border-radius: 35px;
    padding: 8px 0 8px 40px;
    margin-top: -7px;
}
.link li a {
    text-decoration:none;
    color: white;
    margin-right: 40px;
        padding: 8px  12px ;

}

.link li:not(.login) a:hover{
    background-color: #e91e8e;
    color: white;
    border-radius: 35px;
  }
.container,
.sec-in-header{
    display: flex;
    margin: 0 130px;
}
.link{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: right;
    
}
.logo{
    width: 20%;
}
img{
    width: 150px;
}
header{
    background-image: linear-gradient(to bottom right , purple, rgba(41, 4, 248, 0.7)) , url("imgs/wallpaper.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 15px;
    height: 80vh;
}
 .sec-in-header{
    display: flex;
} 
.img-bts,
.cote-img{
    width:50%;
}
.img-bts img {
    width: 100%;

  }
  .cote-img {
    color: white;
    width: 25%;

  }
  .cote-img{
    padding: 50px 0 0 160px ;
  }
  .cote-img P {
margin-top:15px;
font-size: large;
  }
  .cote-img h1{
    font-size: 25px;
  }
  

.sec-bottom{
    margin-top: 25px;
}
.sec-bottom button{
    padding: 10px 25px;
    border-radius: 30px;
}

#col-1{
    border: none;
    background-color:#f5167e;
    color: white;
}

#col-2{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}


.box{
    display: flex;
}
label{
    display:block;
    font-size: larger;
}
.box div{
    padding: 0 35px;
}
option{
    font-size: large;
    color : white;
}
.box div input,
.box div select,
.box div input:focus,
.box div select:focus{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: none ;
}

.box{
    display: flex;
    background-color: #242565;
    color: white;
    width: 70%;
    margin:-45px 15% 0 ;
    padding: 25px;
    border-radius: 20px;
    justify-content: space-between;
}
select{
    padding: 0 75px;
}
/* footer{
background-color: #0A075F;
}

.first-div{
    background-color: rgb(235, 111, 10);
    margin:60px;
    width: 33%;

} */
 /* Footer Section --------------------------------------------------------------------------*/

.main-footer{
    background-color: #0A075F;
    margin-top: 20px;
    color:#F3F3F3;

}

.footer-container{
    display: flex;
    margin: 0 75px;
    padding: 10px;
    color:#F3F3F3;

}


.footer-about,
.footer-news-letter{
    width:35%;
    margin: 10px 10px 10px 0; 
}

.footer-events,
.footer-links{
    width:15%;
    margin: 15px 10px 10px 0;
    display: block;

    
}


.footer-events a,
.footer-links a
{
padding-top: 15px;
color:#F3F3F3;

}
#footer-logo{
    width: 30%;
}

.footer-about p{
    font-size: 12px;
    font-weight: 200;
    width: 80%;
    padding: 15px;
    padding-top: 15px;

}

.social-media img{
    width: 30px;
    padding-top: 15px;

}

.footer-container a{
    text-decoration: none;
    font-size: small;
}

.footer-events p,
.footer-links p{
    margin-top: -5px;
    padding-top: 10px;

}

.footer-container h3{
    font-weight: 500;
}

.footer-news-letter p{
    font-weight: 300;
    font-size: 14px;
    color:#F3F3F3;

}

.newsletter{
    position: relative;
}

.newsletter input{
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    width: 85%;
    position: absolute;
    color: black;
}

.newsletter input:focus{
    border: none;
    outline: none;
}

.newsletter button{
    position: absolute;
    right: 0;
    top: 5px;
    padding: 15px 30px;
    align-content: center;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
    background-color: deeppink;
    cursor: pointer;
}

.newsletter button:hover{
    background-color: #141572;
    transition: all 400ms;
    border: none;
}

.copy-right{
    font-size: 13px;
    font-weight: 300;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 120px
}

.events-container{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat(4 , auto);
    margin: 45px 150px ;
    padding-left: 30px;
    padding-right: 0px;
    gap:  25px 10px; 
}

.events-title{
    grid-column: 1 / 4 ;
}

.events-title h1{
    color: blue;
    font-size: 25px;
    font-weight: 600;
}

.events-container select{
    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 30px;
    background-color:#F2F4FF;
    padding: 5px 10px;
}

.events-card{
    grid-column: span 2;
    filter: drop-shadow(0px 18.9529px 47.3822px rgba(119, 115, 170, 0.1));
}

.events-card img{
    width: 100%;
}

.event-description{
    display: flex;
}

.time{
    padding: 0 20px;
}

.time h3:first-child{
    color: blue;
    font-size: 12px;
}

.time h3:last-child{
    font-size: 22px;
    margin-top: 10px;
}

.desc h2{
    font-size: 16px;
}

.desc p{
    font-size: 12px;
    margin-top: 10px;
}

.event-btn{
    grid-column: span 6;
    text-align: center;
}

.event-btn button{
    padding: 10px 35px;
    border-radius: 30px;
    border: 2px solid blue;
    color: blue;
    font-weight: 600;
    background-color: transparent;
}

/* <!--  join-brands section ------------------------------------------------------------------------- --> */

.join-brands{
    background-color: #EEE1FF;
    text-align: center;
}
.join-brands h2 {
    color: #242565;
    font-weight:700;
    padding: 30px;

}
.join-brands p {
    
    padding: 0 390px 40px ;
    font-weight: 500;
    color: #6A6A6A;
}
/* <!--   End join-brands section ------------------------------------------------------------------------- --> */

.logos-brand{
    display: flex;
    margin: 25px 13%;
}
.logos-brand img {
    display: block;
    justify-content: space-between;
    padding: 15px 15px;
    width: 100%;
}
/* <!--  End brands L ogos section ------------------------------------------------------------------------- --> */
/* <!-- Blog section ------------------------------------------------------------------------- --> */

.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px 20px;
    margin: 25px 15%;


}
.blog-title{
    grid-column: span 3;
    text-align: center;
}

.blog-title h1{
    font-weight: 900;
    font-size:xx-large;
    color: #242565;
}
.blog-title p{
    color:#6A6A6A;
    font-weight: 500;
    font-size: x-large;
    margin-top: 15px ;
    margin-bottom: 15px;
}
.blog-img img {
    width: 100%; 
    filter: drop-shadow(0px 18.9529px 47.3822px rgba(119, 115, 170, 0.1));
}
.blog-img h2{
color: #242565;
font-size: large;
padding-top: 20px;

} 
.blog-img p {
    color: #A5A5A5;
    padding-top: 20px;
}

/* <!-- End Blog section ------------------------------------------------------------------------- --> */
.Speakers-title{
    grid-column: 1 / 7 ;
    text-align: center;
    padding: 0 50px;
    color: #0A075F;

}